**\nowka
**\tests

# Dokumentacja Doxygena
/docs/
!/docs/latex/
!/docs/latex/refman.pdf
Doxyfile
konwersja_svgtogcode/main.py
output_arial.svg
output_path_arial.svg
output_times.svg
konwersja_svgtogcode/main.py
/konwersja_svgtogcode
